extends ../layout

block content
  h1 Login
  .container
    form(action="/login",method="post")        
            .form-group
                label(for="email") Email Address
                input#email(type="text", class="form-control col-md-4", name="email" value="sadiqmahmood344@gmail.com")
            .form-group
                label(for="password") Password
                input#price(type="password", class="form-control col-md-4", name="password", value="123")
            input(type="submit", class="btn btn-info" value="Login")
